autopep8 @ file:///home/conda/feedstock_root/build_artifacts/autopep8_1596345643597/work
certifi==2020.6.20
pycodestyle @ file:///home/conda/feedstock_root/build_artifacts/pycodestyle_1589305246696/work
PyQt5==5.15.1
PyQt5-sip==12.8.1
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
